<div class="form-group">
  <textarea class="form-control"id="title" rows="7"></textarea>
  <textarea class="form-control"id="question" rows="8"></textarea>
</div>
<img id="picture"src="./img/interrogation.png" >
<h1 class="mt-3 text-success d-none" id="success_notification"></h1>
<h1 class="mt-3">{{questionData.title}}</h1>
<p>{{questionData.description}}</p>
{{!-- onsubmit="return confirm('Are you sure?')" --}}
<form method="post" action="/test/answer" id="test_form">
    {{#each questionData.questions}}
    <article>
        <h5>{{title}}</h5>
        <p>
            {{#each answer}}
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="question_{{../id}}" value="{{id}}">
                    {{name}}
                </label>
            </div>
            {{/each}}
        </p>
    </article>
    {{/each}}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<script src="/test.js"></script>
